<!DOCTYPE html>
<html ng-app="todosApp">
<head>
    <meta charset="UTF-8">
    <title>Todos App</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style type="text/css">
        input[readonly].form-control {
            background-color: #FFF;
        }
    </style>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../app.js"></script>
</head>
<body ng-controller="todosController">
<div>
    <h4 class="btn btn-info btn-lg btn-block">Total Todos in database: {{todos.length}}</h4>
    <br>
    <ul>
        <li ng-repeat="todo in todos">
            <div ng-hide="toEdit.hasOwnProperty(todo._id)">
                <dt class="btn-lg form-inline"><input type="checkbox" disabled="disabled" ng-model="todo.completed"> {{todo.title}}</dt>
                <dd>{{todo.description}}</dd>
                <dd>&nbsp;</dd>
                <dd><button type="button" class="btn btn-info" ng-click="deleteToDo(todo._id)">Delete</button> <button type="button" class="btn btn-primary" ng-click="setEditForTodo(todo._id, todo)">Edit</button></dd>
                <dd>&nbsp;</dd>
            </div>
            <form class="form-inline" ng-show="toEdit.hasOwnProperty(todo._id)">
                <input type="text" class="form-control input-sm" ng-value="todo.title">
                <br><br>
                <input type="text" class="form-control input-sm" ng-value="todo.description">
                <br><br>
                <label><input type="checkbox" disabled="todo.completed"> Completed</label>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-success" ng-click="saveTodo(todo._id)">Save</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" ng-click="resetEditForTodo(todo._id)">Cancel</button>
                <br><br>
            </form>
        </li>
    </ul>
</div>
<div class="row">
    <div class="text-center">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg col-lg-2" placeholder="Enter Todo title" ng-model="newData.title">
                <input type="text" class="form-control input-lg col-lg-8" placeholder="Enter Todo description" ng-model="newData.description">
                <label class="form-control input-lg col-lg-2"><input type="checkbox" ng-model="newData.completed"> Completed</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg col-lg-12" ng-click="createToDo()">Add</button>
        </form>
    </div>
</div>
</body>
</html>